<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" type="text/css" href="styles/join.css">
</head>
<body>
<div class="body-area">
    <div class="main-content">
        <form class="joinForm" action="/join" method="POST">
            <h1>회원가입</h1>
            <div class="login_info">이름</div>:   <div class="login_info"><input type="text" name="name"></div></br></br>
            <div class="login_info">이메일</div>:   <div class="login_info"><input type="text" name="email"></div></br></br>
            <div class="login_info">비밀번호</div>:   <div class="login_info"><input type="password" name="password"></div></br></br>
            <input type="submit" value="회원가입">
        </form>
    </div>
</div>
</body>
</html>